/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply transition;
}

input[type='text'],
textarea {
	@apply bg-transparent;
}

.topbar {
	@apply fixed w-screen top-0
	border-b
	border-gray-400	
	h-20 px-6
	flex flex-col;
}

.navigation {
	@apply fixed
	w-screen left-0 bottom-0
	bg-white
	border-t border-gray-400;
	@apply md:top-0
	md:w-48
	md:h-screen 
	md:border-r 
	md:border-t-0
	md:mt-20 md:mr-6;
}

.main {
	@apply mt-20 md:ml-48
	min-h-full;
}
